body{
  background-color: lightgray;
}

nav li{
  margin-right: 10px;
  margin-right: 10px;
}

#navbarTitle{
  margin-left: 20px;
  font-size: 25px;
}

.rent-div, .income-div{
  margin-top: 25px;
  margin-bottom: 35px;
  text-align: center;
}
